html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}
.wrapper{
  padding: 20px;
}

section{
  margin:20px auto;
}

h1 {
  color: #000;
  line-height: 1;
  margin: 0;
}

p{
  margin: 5px 0;
}

.block {
  background: #c1c1c1;
  border: 1px solid #FFF;
  display: inline-block;
  float: left;
  line-height: 0;
  margin: 0;
  height: 50px;
  width: 50px;
  padding: 0;
}

.intro{
  max-width: 800px;
}

.controls {
  max-width: 800px;
}

.grid { 
  background: #FFF;
  display: table;
  height: auto;
  padding: 20px;
  max-width: 800px;
  min-width: 300px;
}
