html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}
.wrapper{
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

section{
  margin:20px 0;
}

h1 {
  color: #000;
  line-height: 1;
  margin: 0;
}

p{
  margin: 5px 0;
}

.block {
  background: #c1c1c1;
  border: 1px solid #FFF;
  display: inline-block;
  float: left;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.intro {
  max-width: 800px;
}

.controls {
  max-width: 800px;
}

/*set the width and height for each breakpoint first*/
/*this will make the calculation easier*/

.grid { 
  background: #FFF;
  display: table;
  height: 800px;
  height: auto;
  padding: 20px;
  width: 100%;
}
.clearfix:after {
  clear: both;
  content: " "; /* Older browser do not support empty content */
  display: block;
  height: 0;
  visibility: hidden;
}

/* Colors */
.red {
  background: #C60740;
}

.blue {
  background: #030F40;
}

.light {
  background: #E4E4E4;
}

.lightblue {
  background: #02737F;
}

.lightestblue {
  background: #69B7BF;
}

.variable {
  background: #FF0;
}

.surprise {
  background: #005f64;
}




